<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6dabbc">  <td>19/07/08 23:25:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC003_MergeLead.setData()[pri:0, instance:tests.TC003_MergeLead@598067a5]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1668627309</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>19/07/08 23:25:27</td>   <td>1440</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC003_MergeLead.MergeLeadTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tests.TC003_MergeLead@598067a5]">MergeLeadTest</td> 
  <td>main@1668627309</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>19/07/08 23:25:27</td>   <td>1448</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC003_MergeLead.MergeLeadTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tests.TC003_MergeLead@598067a5]">MergeLeadTest</td> 
  <td>main@1668627309</td>   <td></td> </tr>
</table>
