<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8a9f61">  <td>19/07/10 22:37:49</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.closeBrowser()[pri:0, instance:tests.TC002_DeleteLead@5f341870]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@1698097425</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>19/07/10 22:38:02</td>   <td>13649</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.closeBrowser()[pri:0, instance:tests.TC001_CreateLead@553f17c]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@1698097425</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>19/07/10 22:38:10</td>   <td>21523</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.closeBrowser()[pri:0, instance:tests.TC001_CreateLead@553f17c]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@1698097425</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>19/07/10 22:38:02</td>   <td>13645</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_CreateLead.createLeadTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tests.TC001_CreateLead@553f17c]">createLeadTest</td> 
  <td>main@1698097425</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>19/07/10 22:38:10</td>   <td>21515</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_CreateLead.createLeadTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tests.TC001_CreateLead@553f17c]">createLeadTest</td> 
  <td>main@1698097425</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>19/07/10 22:37:36</td>   <td>-12563</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_DeleteLead.deleteLeadTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tests.TC002_DeleteLead@5f341870]">deleteLeadTest</td> 
  <td>main@1698097425</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>19/07/10 22:37:51</td>   <td>2104</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_DeleteLead.deleteLeadTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tests.TC002_DeleteLead@5f341870]">deleteLeadTest</td> 
  <td>main@1698097425</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>19/07/10 22:37:25</td>   <td>-24223</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tests.TC002_DeleteLead@5f341870]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1698097425</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>19/07/10 22:37:51</td>   <td>2244</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tests.TC001_CreateLead@553f17c]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1698097425</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>19/07/10 22:38:05</td>   <td>15993</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tests.TC001_CreateLead@553f17c]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1698097425</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>19/07/10 22:37:24</td>   <td>-25160</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC002_DeleteLead.setData()[pri:0, instance:tests.TC002_DeleteLead@5f341870]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1698097425</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>19/07/10 22:37:51</td>   <td>2135</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC001_CreateLead.setData()[pri:0, instance:tests.TC001_CreateLead@553f17c]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1698097425</td>   <td></td> </tr>
</table>
